# url where the website will fetch the tools
# use http://localhost:5000 if using the docker compose 
REGISTRY_URL=http://localhost:5000

# owner of the github repository
# this is only used if using ghcr
REPO_OWNER=

# credentials for the registry
REGISTRY_USERNAME=
REGISTRY_PASSWORD=